html{
    height: 100%;
    box-sizing: border-box;
}

body{
    background: #DCEDFF;
    margin: 0px;
    position:relative;
    min-height: 100%;
    padding-bottom: 6.74rem;
    box-sizing: inherit;
}

h1{
    margin: 0;
}

p{
    font-size: 18px;
    text-align: justify;
}

main{
    width: 60%;
    margin: 0 auto;
    padding-top: 32px;
}

footer{
    background: #092833;
    font-size: 18px;
    padding: 20px;
    align-items: center;
    text-align: center;
    color: white;
    font-family: sans-serif;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
}

#list-info{
    margin: 50px auto;
}

.wrapper{
    margin: 100px auto;
}

#image{
    float:left;
    width: auto;
    height: auto;
    max-width: 60%;
    max-height: 60%;
    margin-right: 15px;
}

.header{
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-menu{
    background-color: #94B0DA;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: -7px;
}

.button{
    background-color: #94B0DA;
    padding: 20px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.button:hover{
    background-color: #698BBE;
}

.button:active{
    background-color: #45699F;
}

#bt-1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#body-contato{
    display: flex;
    flex-direction: column;
}

#body-sobre{
    display: flex;
    flex-direction: row;
}
